<div class = "wrapper">
  <h2>New Night</h2>

  <%= form_for [current_user, @night] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
  <%end%>
</div>
