<div class="wrapper">
  <div><%= @night.title %></div>
  <div><%= @night.description %></div>
  <ul>
    <% @night.drinklists.each do |drinklist|%>
    <li><%= drinklist.beer.name %></li>
    <li><%=link_to image_tag(drinklist.beer.photo_url, class: "beer_image"), beer_path(drinklist.beer)%></li>
    <%= link_to "Remove Beer From Night", user_night_drinklist_path(current_user,@night,drinklist), method: :delete%>
    <%end%>
  </ul>

  <%= link_to "Delete Night", user_night_path(current_user,@night), method: :delete%>
</div>
