<div class="wrapper">
  <div class="row">
    <h3 class = "li_beer_name"><%= @night.title %>
      <%= link_to "Delete Night", user_night_path(current_user,@night),class:"new_night_link", method: :delete%>
    </h3>

    <div class = "night_description"><%= @night.description %></div>

    <!-- calling the list of beers user has attached to given night
    this is done through the join table of drinklists that has both night and drink IDs -->
    <% @night.drinklists.each do |drinklist|%>
    <div class = "col-sm-4">
      <div class = "beer_selector">
        <div class = "div_beer_name">
          <%= drinklist.beer.name %>
        </div>
        <div>
          <%=link_to image_tag(drinklist.beer.photo_url, class: "beer_image"), beer_path(drinklist.beer)%>
        </div>

        <!-- creates submit button that will increment the beer_count variable on
        the drinklist join table by 1. This variable is attached to one beer/night combination-->
        <div class="add_drink">
          <%=drinklist.beer_count%>
          <%= form_for [current_user,@night,drinklist] do |f| %>
          <%= f.submit "Add drink", class:"submit"%>
          <%end%>

        </div>
        <%= link_to "Remove Beer From Night", user_night_drinklist_path(current_user,@night,drinklist),class:"user_night", method: :delete%>
      </div>
    </div>
    <%end%>
  </div>
</div>
