<div class = "wrapper">
  <h2 class = "new_beer">Add a New Beer</h2>

  <%= form_for @beer do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name%>

  <div>
    <%= f.label :review %>
  </div>
  <%= f.text_area :review, size: "18x4" %>

  <%= f.submit class:"submit"%>

  <%end%>
</div>
