<div class = "wrapper">
  <ul>
    <li class = "li_beer_name">
      <%= @beer.name %>
    </li>

    <div class = "beer_show">
      <li>
        Type: <%= @beer.beer_type %>
      </li>

      <li>
        ABV(%): <%= @beer.abv %>
      </li>

      <li>
        <%= image_tag(@beer.photo_url, class: "show_beer_image")%>
      </li>

      <li>
        <% if @beer.user == current_user %>
        <%= link_to "Edit Beer", edit_beer_path(@beer)%>
        <%= link_to "Delete Beer", beer_path(@beer), method: :delete%>
        <%end%>
      </li>

      <% if current_user %>
      <%= form_for [@beer,@drinklist] do |f| %>
      <select name="night">
        <%= current_user.nights.each do |night|  %>
        <option value="<%= night.title %>"><%= night.title %></option>
        <%end%>
      </select>
      <%= f.submit "Add to a Night", class:"add_to_night"%>
      <%end%>
      <%end%>

      <li class="review">
        Review: <span class = "review_text"><%= @beer.review %></span>
      </li>

      Comments:
      <% @beer.comments.each do |comment| %>
      <div>
        Comment from <%= comment.user.email %>:
      </div>
      <div>
        <span class = "review_text"><%= comment.comment_text %></span>
      </div>
      <div>
        <%= link_to "Delete Comment", beer_comment_path(@beer,comment), method: :delete%>
      </div>
      <% end %>
    </div>
    <%= form_for [@beer,@comment] do |f| %>
    <div class="comment_text">
      <%= f.text_field :comment_text %>
    </div>

    <div>
      <%= f.submit "Add Comment",class:"comment_button"%>
    </div>
  <%end%>

</ul>
</div>
