<ul>
  <li>
    <%= @beer.name %>
  </li>

  <li>
    Type: <%= @beer.beer_type %>
  </li>

  <li>
    Brewery: <%= @beer.brewery %>
  </li>

  <li>
    ABV(%): <%= @beer.abv %>
  </li>

  <li>
    <%= image_tag(@beer.photo_url, class: "show_beer_image")%>
  </li>

  <% if current_user %>
  <%= form_for [@beer,@drinklist] do |f| %>
  <select name="night">
    <%= current_user.nights.each do |night|  %>
    <option value="<%= night.title %>"><%= night.title %></option>
    <%end%>
  </select>
  <%= f.submit "Add to a Night"%>
  <%end%>
  <%end%>

  <li>
    Review: <%= @beer.review %>
  </li>

  <li>
    <%= link_to "Edit Beer", edit_beer_path(@beer)%>
    <%= link_to "Delete Beer", beer_path(@beer), method: :delete%>
  </li>

</ul>
