<ul>
  <li>
    <%= @beer.name %>
  </li>

  <li>
    Type: <%= @beer.beer_type %>
  </li>

  <li>
    Brewery: <%= @beer.brewery %>
  </li>

  <li>
    ABV(%): <%= @beer.abv %>
  </li>

  <li>
    <%= image_tag(@beer.photo_url, class: "show_beer_image")%>
  </li>

  <% if current_user %>
  <%= form_for [@beer,@drinklist] do |f| %>
  <select name="night">
    <%= current_user.nights.each do |night|  %>
    <option value="<%= night.title %>"><%= night.title %></option>
    <%end%>
  </select>
  <%= f.submit "Add to a Night"%>
  <%end%>
  <%end%>

  <li>
    Review: <%= @beer.review %>
  </li>

  <li>
    Comments:
    <% @beer.comments.each do |comment| %>
    <div>
      Author: <%= comment.user.email %>
    </div>
    <div>
      Comment: <%= comment.comment_text %>
    </div>
    <div>
      <%= link_to "Delete Comment", beer_comment_path(@beer,comment), method: :delete%>
    </div>
    <% end %>
  </li>

  <li>
    <%= link_to "Add Comment", new_beer_comment_path(@beer)%>
  </li>

  <li>
    <%= link_to "Edit Beer", edit_beer_path(@beer)%>
    <%= link_to "Delete Beer", beer_path(@beer), method: :delete%>
  </li>

</ul>
