<!DOCTYPE html>
<html>
<head>
  <title>Beerlister</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class = "nav">
    <h1 class = "title">
      <!-- link to home beers page, not the root, which is the "age" page -->
      <%= link_to "BeerLogger:", beers_path %>
      <span class = "span_title">What are you drinking tonight?</span>
    </h1>
    <span class = "sign_in">
      <!-- Devise sign in -->
      <% if current_user %>
      <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
      <% else %>
      <%= link_to 'Signup', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </span>
    <span class = "index_nav">
      <% if current_user%>
      <!-- only show if signed in" -->
      <%= link_to "Add Beer", new_beer_path %>
      <%= link_to "My Profile", user_path(current_user) %>
      <%= link_to "My Nights", user_nights_path(current_user) %>
      <% end%>
    </span>
  </nav>

  <div class = "container">
    <div>
      <!-- flash messages will display right above the wrapper that is
      placed in each page -->
      <% if flash[:notice] %>
      <span class="notice"><%= flash[:notice] %></span>
      <% end %>
      <span class="alert"><%= alert %></span>
    </div>
    <%= yield %>
  </div>
  <!-- TESTING with Disqus below -->
  <!-- <script id="dsq-count-scr" src="//beerlogger.disqus.com/count.js" async></script> -->
</body>
</html>
