<!DOCTYPE html>
<html>
<head>
  <title>Beerlister</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class = "nav">
    <h1 class = "title"><%= link_to "BeerLister:", beers_path %>
      <span class = "span_title">What are you drinking tonight?</span>
    </h1>
    <span class = "sign_in">
      <% if current_user %>
      <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
      <% else %>
      <%= link_to 'Signup', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </span>
    <span class = "index_nav">
      <%= link_to "Add Beer", new_beer_path %>

      <% if current_user%>
      <%= link_to "My Profile", user_path(current_user) %>
      <%= link_to "My Nights", user_nights_path(current_user) %>
      <% end%>
    </span>
    <div>
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    </div>
  </nav>

  <div class = "container">
    <%= yield %>
  </div>
</body>
</html>
